{% extends 'layout2.html' %}

{% block content %}
<center><a href="http://www.olympics.org"><img src="/static/ol.png"></a></center>
<center><h2><i>'Citius, Altius, Fortius'</i>
</h2></center>
<br>
This is a project on analysis of olympic data.
It has been completed by Aniruddh Bhagwat,Akash Kumar and Vaibhav Kumar.
We have data set of olympic data over the years (1896-2016) and have performed various operations on them.
For more information on data set visit <a href="https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results" target="blank">here.</a>
<br>
<br>
<center><h5><i>'ESPRIT DE CORPS'</i></h5></center></br></br></br>
</br>
</br>




{% endblock content %}

