{% extends 'layout1.html' %}

{% block content %}
<br>
	<h1>Welcome to country analysis</h1>
	<div class="col-md-6">
      <div class="content-section">

        <h3>Analysis on the basis of</h3>
        <p class='text-muted'>

          <ul class="list-group">
            <a class="list-group-item list-group-item-light" href="/comparemedaltally ">Compare Medal Tally</a><br>
            <a class="list-group-item list-group-item-light" href="/bestyear">Best Year of a Country</a><br>
            <a class="list-group-item list-group-item-light" href="/bestsport">Best Sport for a Country(All Time)</a><br>
            </ul>

        </p>
      </div>
    </div>
  </div>
 
{% endblock content %}