{% extends 'layout1.html' %}

{% block content %}

<h2>Gender Predictor</h2>
<br>
<form method="POST">
	<label for="Year"><h5>Age of player:</h5></label><span style="color: red !important; display: inline; float: none;">*</span>
	<input name="text69"></input><br><br>
    <label for="Year"><h5>Height of Player (cm):</h5></label><span style="color: red !important; display: inline; float: none;">*</span>
    <input name="text70"></input><br><br>
    <label for="Year"><h5>Weight of Player (kg):</h5></label><span style="color: red !important; display: inline; float: none;">*</span>
    <input name="text71"></input><br><br>
    <input type="submit"><br><br>
</form>

{% endblock content %}