{% extends 'layout1.html' %}

{% block content %}


<br><br>
<form method="POST">
	<label for="Year"><h5>Country's NOC:</h5></label><span style="color: red !important; display: inline; float: none;">*</span>
    <input name="text69"></input><br><br>
    <label for="Year"><h5>No. of participants:</h5></label><span style="color: red !important; display: inline; float: none;">*</span>
    <input name="text70"></input><br><br>
    <input type="submit"><br><br>
</form>

{% endblock content %}