{% extends 'layout1.html' %}

{% block content %}
<br><br><br>
	<div class="col-md-6">
      <div class="content-section">

        <h3>Analysis on the basis of</h3>
        <p class='text-muted'>

          <ul class="list-group">
            <a class="list-group-item list-group-item-light" href="/predictgender ">Predict Gender using Height & Weight</a><br>
            <a class="list-group-item list-group-item-light" href="/predictmedal">Predict Medal Tally</a>
            </ul>

        </p>
      </div>
    </div>
  </div>
{% endblock content %}