{% extends 'layout1.html' %}

{% block content %}


<br><br>
<html>
  <head>

  </head>
  <body>
    <h2>SPORT WISE MENU</h2>
    

  
  
  


	 <p class='text-muted'>

          <ul class="list-group">

  <a class="list-group-item list-group-item-light" href="/selectedsport/{{s_name}}/top10_countries_alltime"><li>Top 10 countries in {{s_name}} sport all time</li></a>
  <a class="list-group-item list-group-item-light" href="/selectedsport/{{s_name}}/top10_countries_year"><li>Top 10 countries in {{s_name}} sport for a particular year</li></a>
  <a class="list-group-item list-group-item-light" href="/selectedsport/{{s_name}}/top10_players_alltime"><li>Top 10 players in {{s_name}} sport all time</li></a>
</ul></p>
  
 
  </body>

</html>
{% endblock content %}